body {
    font-family: sans-serif;
    margin: 0;
    background: #f0f8ff;
  }
  header {
    background:teal;
    color: white;
    padding: 2rem;
    text-align: center;
  }
  .hero {
    background: rgb(234, 252, 252);
    text-align: center;
    padding: 2rem;
  }
  .hero .btn {
    display: inline-block;
    background: teal;
    color: white;
    padding: 0.8rem 1.2rem;
    text-decoration: none;
    border-radius: 5px;
  }
  .features {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background: white;
  }
  .features div {
    width: 30%;
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
  }
  footer {
    background: teal;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  